@import "reset.css";

a
{
    text-decoration: none;
    font-style: inherit;
    color: black;
    background-color: aquamarine;
}

header, footer
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.links a
{
    padding: 1rem;
    border: 1px solid black;
}

.links a:hover, .links a:focus
{
    background-color: black;
    color: white;
}

.links
{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

header h1
{
    text-align: right;
    margin-top: -80px;
}

header h2
{
    text-align: right;
    margin-bottom: 1rem;
}

footer h3
{
    text-align: right;
    margin: 1rem;
}

.content
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.content a
{
    padding: 1rem;
    border: 2px solid black;
    text-align: center;
}

.content a img
{
    max-width: 70%;
    max-height: 70%;
    margin: auto;
}

.content a:hover, .content a:focus
{
    background-color: black;
    color: white;
}

.about
{
    display: block;
}

.about h1
{
    margin-bottom: 1rem;
}